<div class="project-template">
  <div class="project-header">
    <div class="header-title">
      <h2 class="title project-title">{{projectTemplate.Title.Primary}} <span class="accent">{{projectTemplate.Title.Secondary}}</span></h2>
      <h3 class="project-oneliner">"{{projectTemplate.OneLiner}}"</h3>
    </div>
    @if (projectTemplate.Link != null) {
      <div class="header-link">
        <a class="git-icon" [href]="projectTemplate.Link">
          <img src="./assets/github-logo.png">
        </a>
      </div>
    }
  </div>
  <div class="project-info" [ngClass]="{'flipped': isFlipped}">
    <div class="project-img">
      <ng-image-slider [images]="projectTemplate.Images" [infinite]="true" [animationSpeed]="5" [autoSlide]="true" [imageSize]="{width: '100%', height: '50%'}" #nav></ng-image-slider>
    </div>
    <div class="project-description">
      <p>{{projectTemplate.Description}}</p>
      <p>Technology Used</p>
      @for (tech of projectTemplate.Technologys; track tech) {
        <ul>
          <li>
            {{tech}}
          </li>
        </ul>
      }
    </div>
  </div>
</div>
