.project-title {
    margin: 0;
    padding: 0 0 10px 0;
}

.project-oneliner {
    font-size: 30px;
    color: #999999;
    margin: 0;
}

.project-img {
    width: 45%;
    display: inline-block;

    @media (max-width: 767px) {
        width: 100%;
    }
}

.project-info {
    display: flex;
    justify-content: space-between;

    &.flipped {
        flex-direction: row-reverse;
    }

    @media (max-width: 767px) {
        flex-direction: column;

        &.flipped {
            flex-direction: column;
        }
    }
}

.project-header {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;

    .header-title {
        display: inline-block;
        width: 80%;
    }
    .header-link {
        display: inline-block;
        width: 20%;
        max-width: 150px;
        min-width: 90px;
    }
}

.project-description {
    width: 50%;
    font-size: 16px;
    line-height: 30px;

    @media (max-width: 767px) {
        width: 100%;
    }

    .tech-used {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.project-template {
    padding: 20px 0;
}

.git-icon {
    width: 20%;
    max-width: 220px;
    max-height: 220px;
    padding: 20px;
    
    img {
        width: 100%;
        transition: all 0.5s ease-in-out;
    }
}
.git-icon:hover {
    img {
        transform: scale(1.2);
    }
}

