.contact-info {
    text-align: center;

    font-size: 18px;
    padding: 100px;
    color: #a1a1a1;
}

.social-icons {
    display: flex;
    justify-content: center;

    .social-icon {
        width: 5%;
        max-width: 220px;
        max-height: 220px;
        min-width: 50px;
        min-height: 50px;
        padding: 20px;

        img {
            width: 100%;
            transition: all 0.5s ease-in-out;
        }
    }
    .social-icon:hover {
        img {
            transform: scale(1.2);
        }
    }
}