.skill-icon {
    img {
        width: 50px;
        background-color: white;
        padding: 10px;
        border-radius: 40%;
        margin: 0.5rem 1rem;

        position: relative; 
        animation: bounce .7s infinite alternate; /* Apply the animation */
    }

    img::before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: linear-gradient(
            0deg, 
            transparent, 
            transparent 30%, 
            rgba(0,255,255,0.3)
        );
        transform: rotate(-45deg);
        transition: all 0.5s ease;
        opacity: 0;
    }

    img:hover {
        transform: scale(1.05);
        box-shadow: 0 0 20px rgba(0,255,255,0.5);
    }

    img:hover::before {
        opacity: 1;
    }

    @keyframes bounce {
        from {
            transform: translateY(0px);
        }
        to {
            transform: translateY(-10px);
        }
    }
}