.nav-bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid black;

    .hectorp55-logo {
        width: 20%;

        .icon {
            width: 30%;
        }
    }

    nav {
        width: 80%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
         
        a {
            width: 15%;
        }
    }
}