.nav-bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    height: 140px;
    font-size: 20px;
    transition: 0.5s;
    z-index: 1;

    .hectorp55-logo {
        width: 20%;
        height: 80%;

        .icon {
            height: 100%;
        }
    }

    nav {
        width: 80%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
         
        a {
            width: 15%;
            color: #a82e2e;
            text-decoration: none;
        }
        a:hover {
            color: #751919;
        }

        .active-route {
            text-decoration: underline;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}