.nav-bar {
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: #ffffff;
    padding: 5px;
    height: 140px;
    font-size: 20px;
    transition: 0.5s;
    z-index: 1;

    .hectorp55-logo {
        width: 15%;
        height: 80%;
        display: inline-flex;
        align-items: center;

        .icon {
            height: 100%;
        }

        @media (max-width: 767px) {
            width: 15%;
            height: 60%;
        }
    }

    nav {
        width: 80%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
         
        a {
            width: 15%;
            color: #a82e2e;
            text-decoration: none;
            text-align: center;
        }
        a:hover {
            color: #751919;
        }

        .active-route {
            text-decoration: underline;
        }

        @media (max-width: 767px) {
            justify-content: space-between;
            padding: 0 1.5em;

            a {
                width: auto;
            }
        }

        @media (max-width: 374px) {
            a {
                font-size: 15px;
            }
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
}