<div class="nav-bar sticky" [style.height]=navHeight  [style.fontSize]=navFontSize #NavBar>
    <div class="hectorp55-logo">
        <img class="icon" src="./assets/hectorp55-icon.png">
    </div>
    <nav>
        <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-route">About Me</a>
        <a routerLink="/experience" routerLinkActive="active-route">Experience</a>
        <a routerLink="/projects" routerLinkActive="active-route">Projects</a>
        <a routerLink="/contact" routerLinkActive="active-route">Contact</a>
    </nav>
</div>
