body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.accent {
    color: #a82e2e;
}
.title {
    font-size: 42px;
    font-family: 'Lato', sans-serif;
}
.description {
    font-size: 20px;
}