.body {
    .profile-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .info-section {
            width: 100%;
            text-align: center;
        }
    }

    .picture {
        padding: 2em;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }

    .fav-list {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .social-icons {
        display: flex;
        justify-content: center;

        .social-icon {
            width: 20%;
            max-width: 220px;
            max-height: 220px;
            padding: 20px;

            img {
                width: 100%;
            }
        }
    }
}