.body {
    .profile-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .info-section {
            width: 100%;
            text-align: center;
        }
    }

    .picture {
        padding: 2em;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;

            @media (max-width: 767px) {
                width: 80%;
                height: 60%;
            }
        }
    }

    .fav-list {
        list-style-type: none;
        padding-inline-start: 0;
    }

    .social-icons {
        display: flex;
        justify-content: center;

        .social-icon {
            width: 8%;
            max-width: 220px;
            max-height: 220px;
            padding: 20px;
            transition: all 0.5s ease-in-out;

            img {
                width: 100%;
            }
        }
    }
    .social-icon:hover {
        transform: scale(1.2);
    }
}