.body {
    .profile-info {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        .info-section {
            padding: 0 150px;
        }
    }

    .picture {
        padding: 50px;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    }
}