<app-header-card [header]=headerLabels></app-header-card>
<div class="body">
    <div class="picture"><img src="./assets/profile-picture.jpg"></div>
    <div class="profile-info">
        <div class="socials info-section">
            <h2 class="title">Social <span class="accent">Media</span></h2>
            <span class="description social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/%F0%9F%95%B9juan-hector-puga-407469132/">
                    <img src="./assets/linkedin-icon.png">
                </a>
                <a class="social-icon"href="https://twitter.com/boohooitshector">
                    <img src="./assets/twitter-icon.png">
                </a>
            </span>
        </div>
        <div class="favorites info-section">
            <h2 class="title">My <span class="accent">Favorites</span></h2>
            <div class="description">
                <ul class="fav-list">
                    <li>Visual Studio Code</li>
                    <li>Unity</li>
                    <li>Angular</li>
                    <li>Rocket League</li>
                    <li>The Minimalists</li>
                </ul>
            </div>
        </div>
    </div>
</div>