<app-header-card [header]=headerLabels></app-header-card>
<div class="body">
    <div class="picture"><img src="./assets/profile-picture.jpg"></div>
    <div class="profile-info">
        <div class="socials info-section">
            <h2 class="title">Social <span class="accent">Media</span></h2>
            <span class="description social-icons">
                <a class="social-icon" href="https://www.linkedin.com/in/hector-puga-407469132">
                    <img src="./assets/linkedin-icon.png">
                </a>
                <a class="social-icon"href="https://github.com/hectorp55">
                    <img src="./assets/git-icon.png">
                </a>
            </span>
        </div>
        <div class="favorites info-section">
            <h2 class="title">My <span class="accent">Skills</span></h2>
            <div class="description">
                <ul class="fav-list">
                    <skill-icon [img-url]="techLogos.React"></skill-icon>
                    <skill-icon [img-url]="techLogos.Typescript"></skill-icon>
                    <skill-icon [img-url]="techLogos.GraphQL"></skill-icon>
                    <skill-icon [img-url]="techLogos.Angular"></skill-icon>
                    <skill-icon [img-url]="techLogos.AWS"></skill-icon>
                    <skill-icon [img-url]="techLogos.Firebase"></skill-icon>
                    <skill-icon [img-url]="techLogos.Python"></skill-icon>
                    <skill-icon [img-url]="techLogos.Java"></skill-icon>
                    <skill-icon [img-url]="techLogos.Kotlin"></skill-icon>
                    <skill-icon [img-url]="techLogos.Unity"></skill-icon>
                    <skill-icon [img-url]="techLogos.RocketLeague"></skill-icon>
                </ul>
            </div>
        </div>
    </div>
</div>